PORT=yourdata
CORS_ORIGIN=yourdata
MONGODB_URI=yourdata

ACCESS_TOKEN_SECRET=yourdata
ACCESS_TOKEN_EXPIRY=yourdata
REFRESH_TOKEN_SECRET=yourdata
REFRESH_TOKEN_EXPIRY=yourdata

node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
Generate locally in your machine